body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Alinea el texto a la izquierda */
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.hidden-textbox {
    display: none;
    margin-left: 20px; /* Espacio para alinear los cuadros de texto con los subtítulos */
}

textarea {
    width: 300px;
    height: 100px;
    resize: none; /* Evita que el usuario cambie el tamaño del cuadro de texto */
    margin-bottom: 10px;
}
