body {
  background-image: url('https://i.imgur.com/RaKXrBj.jpg'); /* Reemplaza 'ruta/a/la/imagen/fondo.jpg' con la ruta real de la imagen descargada */
  background-size: cover; /* Para asegurarse de que la imagen cubra todo el fondo */
  background-position: center; /* Para centrar la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-color: black; /* Establece el color de fondo como negro */
  /* Puedes agregar más propiedades aquí según tus preferencias */
}

/* Estilos para h1 */
h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;  /* Tamaño de la fuente duplicado */
  margin-bottom: 10px;  /* Margen inferior */
  /*font-weight: bold;  /* Grosor de la fuente */
  color: #FFFFFF;  /* Color azul fuerte */
  text-align: center;  /* Centrado */
}

/* Estilos para h2 */
h2 {
  font-size: 24px;  /* Tamaño de la fuente original */
  margin-top: 20px;  /* Margen superior */
  margin-bottom: 10px;  /* Margen inferior */
  cursor: pointer;  /* Cambia el cursor al puntero al pasar sobre el elemento */
  /*font-weight: bold;  /* Grosor de la fuente */
  color: #FFFFFF;  /* Color azul fuerte */
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para h2 y enlaces dentro de la clase 'enlaces' */
h2, .enlaces a {
  font-size: 24px;  /* Tamaño de la fuente */
  margin-top: 20px;  /* Margen superior */
  margin-bottom: 10px;  /* Margen inferior */
  cursor: pointer;  /* Cambia el cursor al puntero al pasar sobre el elemento */
  /*font-weight: bold;  /* Grosor de la fuente */
  color: #FFFFFF;  /* Color azul fuerte */
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para h3 */
h3 {
  font-size: 20px;  /* Tamaño de la fuente duplicado */
  margin-top: 20px;  /* Margen superior */
  margin-bottom: 5px;  /* Margen inferior */
  /*font-style: normal;  /* Estilo de la fuente normal */
  color: #4A4E51;  /* Gris asfalto */
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para la clase 'descripcion' */
.descripcion {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  /*font-family: Arial, sans-serif; /* Fuente */
  font-size: 14px; /* Tamaño de la fuente */
  color: #FFFFFF; /* Color del texto */
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para los enlaces */
.enlaces {
  margin-top: 20px;
}

body .enlaces a {
  display: block;
  margin-bottom: 5px;
  /*font-family: Arial, sans-serif;
  font-size: 20px;
  color: #FFFFFF; /* Cambié el color a blanco */
  text-decoration: none;
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #FFFFFF;
}


.enlaces a:hover {
  text-decoration: underline;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Agrega tus estilos aquí */
  h1 {
    font-size: 36px; /* Ejemplo de reducción de tamaño de fuente para dispositivos pequeños */
  }
}

.imagen-responsiva {
  max-width: 100%;
  height: auto;
}

.contenedor-flexible {
  display: flex;
  flex-direction: column; /* Para dispositivos móviles, cambiar la dirección del flujo */
  /* Agrega más propiedades según sea necesario */
}

